# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.exe
*.gcda
*.gcno
*.gcov
*.l[ao]
*.tcov
*.pyc
*~
.deps
/.libs/
/INSTALL
/aclocal.m4
/autom4te.cache
/breakdancer_testsuite.c
/config.h
/config.h.in
/config.log
/config.status
/config/Doxyfile
/config/Doxyfile-api
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/configure
/doc/doxy
/doc/doxy-api
/doc/engine-interface.txt
/doc/protocol-binary-range.txt
/doc/protocol-binary.txt
/engine_testapp
/libtool
/m4/version.m4
/mcstat
/memcached
/memcached-*.tar.gz
/memcached-debug
/memcached-debug.profile
/memcached.spec
/memcached_dtrace.h
/mkinstalldirs
/sizes
/stamp-h1
/t/binary-sasl.t
/testapp
/timedrun
/version.num
Makefile
Makefile.in
TAGS
cscope.out
tags
