# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.gcda
*.gcno
*.gcov
*.l[ao]
*.tcov
*~
.deps
/.libs/
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/config/Doxyfile
/config/Doxyfile-api
/configure
/depcomp
/doc/doxy
/doc/doxy-api
/doc/engine-interface.txt
/doc/protocol-binary-range.txt
/doc/protocol-binary.txt
/install-sh
/libtool
/ltmain.sh
/m4/version.m4
/memcached
/memcached-*.tar.gz
/memcached-debug
/memcached-debug.profile
/memcached.spec
/memcached_dtrace.h
/missing
/mkinstalldirs
/sizes
/stamp-h1
/testapp
/timedrun
/version.num
Makefile
Makefile.in
TAGS
cscope.out
tags
