*.[aois]
*.gcov
*.gcda
*.gcno
*.tcov
.cache
.deps
.buildbot
INSTALL
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
aclocal.m4
compile
autom4te.cache
configure
depcomp
install-sh
memcached
memcached-debug
memcached-debug.profile
missing
stamp-h1
tags
TAGS
cscope.out
memcached_dtrace.h
*~
memcached-*.tar.gz
memcached-*.tar.gz.sha1
/sizes
/version.m4
/version.num
/testapp
/timedrun
/doc/doxy
/memcached.spec
.*.swp
/compile_commands.json
