Chris Goffinet <cg@chrisgoffinet.com> Chris Goffinet <goffinet@yahoo-inc.com>
Eric Lambert <eric.d.lambert@gmail.com> Eric Lambert <eric.lambert@sun.com>
Jayesh Jose <jjose@zynga.com> Jayesh Jose <jayesh.jose@gmail.com>
Patrick Galbraith <patg@patg.net> CaptTofu <patg@patg.net>
Patrick Galbraith <patg@patg.net> Patrick Galbraith <patg@northscale.com>
Paul Lindner <lindner@inuus.com> Paul Lindner <lindner@mirth.inuus.com>
Paul Lindner <lindner@inuus.com> Paul Lindner <plindner@hi5.com>
Trond Norbye <trond.norbye@gmail.com> Trond Norbye <Trond.Norbye@Sun.Com>
Trond Norbye <trond.norbye@gmail.com> Trond Norbye <Trond.Norbye@gmail.com>
Victor Kirkebo <Victor.Kirkebo@Sun.COM> Victor Kirkebo <victor.kirkebo@sun.com>
